@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
.social a {
    text-align: center;
    width: 48px;
    height: 48px;
    padding: 6px;
    color: #fff;
    transition: 0.2s;
    padding-right: 30px;
}
.social-media{
    padding: 30px;
    display: flex;
    position: absolute;
}
:root{
    --first: #e76f51;
    --second: #f4a261;
    --third: #e9c46a;
    --fourth: #2cad9e;
    --fifth: #254a58;

}
html {width: 100vw; 
    overflow-x: hidden;}


.instagram a:hover {color: rgb(236, 77, 77);}
.facebook a:hover {color: rgb(236, 77, 77);}
.vk a:hover {color: rgb(236, 77, 77);}
.telegram a:hover {color: rgb(236, 77, 77);}
a{
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 12px;     
    height: 12px;          /* ширина scrollbar */
  }
::-webkit-scrollbar-track {
    width: 0;
    background: transparent;        /* цвет дорожки */
  }
::-webkit-scrollbar-thumb {
    background-color:  rgb(54, 54, 54);  /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
  }

.element-animation{
    opacity: 0;
}
.element-animation.element-show{
    opacity: 1;
    transition: all 1s;
}

.element-animation.scroll-right{
    opacity: 0;
    transform: translateX(10%);
}
.scroll-right.element-show{
    opacity: 1;
    transform: translateX(0);
    transition: all 1s;
}

.element-animation.scroll-left{
    opacity: 0;
    transform: translateX(-10%);
}
.scroll-left.element-show{
    opacity: 1;
    transform: translateX(0);
    transition: all 1s;
}

.element-animation.rotate-left{
    opacity: 0;
    transform: rotate(-20deg);
}
.rotate-left.element-show{
    opacity: 1;
    transform: rotate(0);
    transition: all 1s;
}

.element-animation.rotate-right{
    opacity: 0;
    transform: rotate(20deg);
}
.rotate-right.element-show{
    opacity: 1;
    transform: rotate(0);
    transition: all 1s;

}

body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    font-size: 18px;
    color:#fff;
    background-color: rgb(0, 0, 0);
}
.header{
    display: flex;
    position: relative;
    justify-content:center;
    z-index:50;
    width: 100%;
}
.header-container{
    margin: 0 5%;
}
.main{
    overflow: hidden;
}


.p1{
    position: absolute; 
    bottom:40%; right:-13%; width: 380px; height: auto; 
    z-index: 1;
    filter: hue-rotate(31deg);
    transform: translateY(800%);
    animation: p1 1.3s forwards;
    transition: 0.5s;
}
.p1:hover{
    scale: 1.03;
}
@keyframes p1 {
0% {transform: translateX(90%) rotate(-30deg);}
100% {transform: translateY(0) rotate(30deg);}
}
.p2{
    position: absolute;
    bottom:-12%;
    left:-10%;
    width: 500px;
    height: auto;
    rotate: 30deg;
    z-index: 1;
    transform: translateY(-80%);
    animation: p2 1.3s forwards;
    transition: 0.5s;
    transform-origin: center;
    }
@keyframes p2 {
0% {transform: translateX(-90%) rotate(30deg);}
100% {transform: translateY(0);}
}
.p2:hover{
    scale: 1.03;
}
.p5{
    position: absolute;
    left:-130px;
    bottom:80%;
    width: 290px;
    height: auto;
    rotate: 30deg;
    z-index: -1;
    transition: 0.5s;
    filter: brightness(0.36);
}
.p3{
    position: absolute;
    counter-reset: none;
    right:-120px;
    bottom:50%;
    width: 290px;
    height: auto;
    rotate: 307deg;
    z-index: -1;
    transition: 0.5s;
    filter: brightness(0.36);
}

.main-container{
    position: relative;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: #000;
    height: 100vh;
}
.main-text{
    color:white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 100px;
    line-height: 0.9;
    z-index: 100;
}
.main-title{
    text-decoration-line:  underline;
    text-decoration-color: #ffdc6b;;
}
.main-title span{
    font-size: 128px;
}
.main-subtitle{
    text-decoration-color: transparent;
    font-size: 30px;
    font-weight: 500;
    line-height: 1;
    margin-top: 30px;
    line-height: 1.2;
    ;
}

.main-photo{
    height: 90vh; 
    width: auto;
    align-self: flex-end;
    transform: translateY(90%);
    animation: main-photo 1.3s forwards;
    z-index: 100;
}
@keyframes main-photo {
    0% {transform: translateY(90%);}
    100% {transform: translateY(0);}
}
.main-btn-holder{
    position: absolute;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 90%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
    z-index: 20;
}
.main-btn{
    position: relative;
    font-size: 120px;
    font-weight: 300;
    color: rgb(150, 150, 150);
    text-align: center;
    transform: rotate(90deg);
}

.main-btn-holder:hover{
    filter: brightness(0.86);
    
}
.info-container{
    display: flex;
    margin-bottom: 40px;
}
.info-left{
    color:#fff;
    width: 50vw;
}
.info-left-text{
    padding-left: 40%;
    padding-right: 10%;
}
.info-right{
    color:#000;
    background-color: #ffdc6b;
    width: 50vw;
}
.info-icon{
    width: 50px;
    height: 50px;
    padding-right: 20px;
}
.info-right-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
.info-right-text span{
    margin-left: 40px;
    font-size: 25px;
    font-weight: bold;
}
#topic{
    font-size: 20px;
}
.info-right-row{
    display: flex;
    font-size: 18px;
    font-weight: 500;
    padding-left:50px;
    align-items: center;
}
.gallery{
    overflow: hidden;
    position: relative;
}
.gallery-container{
    margin: 0 15%;
}
.image-gallery {
    display: flex;
    gap: 10px;
  }
  .iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  
  /* Then style the iframe to fit in the container div with full height and width */
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .pc-gal{
    display: flex;
  }
  .mob-gal{
    display: none;
  }
  .column{
    width: 33%;
    height: fit-content;
  }
  .image-gallery .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .gall-header{
    min-width: 100%;
    min-height: 100%;
    width:100%;
    border-radius: 2%;
    height: auto;
    transition: 0.3s;
}
.gall-header:hover{
    scale: 1.04;
}


  .img-block a{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-popup{
    display: none;
    opacity: 0;
    position: fixed;
    left: 50%;
    top: 50%;
    height: auto;
    width: auto;
    max-height: 90vh;
    max-width: 90vw;
    border-radius: 1%;
    transform: translate(-50%, -50%);
    z-index: 100;
    animation: fadeInFromNone 0.5s ease-in-out;
    box-shadow: 0 0 10px 1px rgb(0, 0, 0б 0.3);
}
@keyframes fadeInFromNone {
    0% {
      display: none;
      opacity: 0;
    }
  
    1% {
      display: block;
      opacity: 0;
    }
  
    100% {
      display: block;
      opacity: 1;
    }
}
.overlay:target+.img-popup {
    display: block;
    opacity: 1;
}
.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;    
    display: none;
    opacity: 0;
    animation: fadeInFromNone 0.5s ease-in-out;
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
    backdrop-filter: blur(8px);
}
    .overlay:target {
        opacity: 1;
        display: block;
    }
  .youtube{
    padding-bottom: 100%;
  }
  .image-item img:hover{
    transform: scale(1.03);
  }
.creators{
    position: relative;
    overflow: hidden;

}
.creator-block{
    display: flex;
    margin-bottom: 50px;
    overflow: hidden;
}
.creator-img{
    height: 350px;
    box-shadow: rgba(252, 252, 252, 0.4) 5px 5px, rgba(211, 211, 211, 0.3) 10px 10px, rgba(255, 255, 255, 0.2) 15px 15px, rgba(99, 99, 99, 0.1) 20px 20px, rgba(34, 34, 34, 0.05) 25px 25px;
    transition: 0.3s;
}
.creator-text-holder{
    color:#fff;
    width: 50vw;
    order:2
}
.creator-text{
    padding-left: 0;
    padding-right: 50%;
}
.creator-text a{
    color:#e9c46a;
    text-decoration: underline #e9c46a;
}
.invert{
    order:-1;
}
.invert .creator-text{
    padding-left: 50%;
    padding-right: 0;
}
.creator-text b{
    font-size: 1.2em;
    text-decoration: #ffdc6b underline;
}
.creator-img-holder{
    width: 50vw;
    display: flex;
    justify-content: center;
    order: 1
}
.feedback-container{
    position: relative;
    margin: 0 200px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    position: relative;
}
.feedback-block{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    background-color: rgb(54, 54, 54);
    color:rgb(255, 255, 255);
    width: 28vw;
    height: auto;
    margin: 20px 30px;
    flex: 0 0 auto;
    border-radius: 10px 10px;
    transition: 0.3s;
}
.feedback-block:hover{
    scale: 1.01;
    filter:brightness(1.2)
}
.feedback-block span{
    color:#e9c46a;
    font-size: 50px;
    font-weight: 600;
    margin: 0 4px;
    line-height: 0;
    position: relative;
    top:7px;
}
.feedback-header{
    margin-bottom: 30px;
    text-align: center;
    width: 80%;
    border-bottom: 2px solid rgb(173, 173, 173);
}
.feedback-btn{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.feedback-btn a{
    color: #000;
    padding: 13px;
    background-color: #ffdc6b;
    transition: 0.3s;
    border-radius: 7px 7px;

}
.feedback-btn a:hover{
        filter: brightness(0.7);
}
.contacts-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 14%;
}
.vk-group-holder{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    width: 50%;
}
.vk-group-text{
    font-size: 30px;
    padding: 5px 10px;
    color:rgb(255, 255, 255);
}
.vk-group-link{
    position: absolute;
    left:5%;
    bottom:40%;

}
.vk-group-link .fa-2x{
    font-size: 7em;
}
.vk-group{
    position: relative;
    background-image:url(img/vk-bg.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    border-radius: 10px 10px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.vk-group-name{
    backdrop-filter:  brightness(0.6) blur(20px);
    width: 100%;
    padding: 5px 10px;
}
.contacts-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.social-media-contacts{
    display: flex;
    
    align-items: center;
}
.contact-group{
    position: relative;
    width: 100%;
    height: 400px;
    border-radius: 10px 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.contant-text{
    align-self: flex-start;
}
.email{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
}
.contact-group a:hover{
    color: rgb(236, 77, 77);
    text-decoration: underline rgb(236, 77, 77);
}
.site{
    margin-top: 20px;
}
.site-a{
    color:#fff;
    font-size: 20px;
}
.icon{
    padding-right: 5px;
    width: 50px;
    height: 50px;
}
.footer-holder{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    padding: 30px;
    width: 70%;
    border-top: solid 2px rgb(218, 218, 218);
}
.footer a{
    color:#e9c46a;
}
.footer a:hover{
    text-decoration: underline #e9c46a;

}
  @media(max-width: 780px){
    .social-media{
        display: none;
    }
    .main-container{
        flex-direction: column;
        height: unset;
        height: 100vh;
        justify-content: flex-end;
    }
    .main{
        height: 100vh;
    }
    .main-title{
        font-size: 55px;
        text-align: center;
    }
    .main-title span{
        font-size: 70px;
        text-align: center;
    }
    .main-subtitle{
        text-align: center;
        font-size: 20px;
    }
    .main-photo{
        height: 66vh;
        align-self: unset;
        justify-self: end;
    
    }
    .main-btn-holder{
        display: none;
    }
    .p1{
        width: 30vw;
        height: auto;
        bottom: 50%;
    }
    .p1:hover{
        width: 110px;
    }
    .p2{
        width: 50vw;
        height: auto;
        bottom:30%;
        left:-25%
    }
    .p2:hover{
        width: 190px;
    }
    .p5, .p3{
        display: none;
    }
    .info-container{
        flex-direction: column;
        margin-bottom: 10px;
    }
    .info-left{
        width: 100vw;
        margin-bottom: 20px;
    }
    .info-left-text{
        font-size: 14px;
    }
    .info-right{
        padding: 20px;
        padding-top: 0;
        width: unset;
    }
    .info-left-text{
        padding: 0;
        margin: 0 10px;
        flex-direction: column;
    }
    
    .info-right-row{
        margin-top: 20px;
        padding: 0;
        text-align: center;
        font-size: 16px;
        flex-direction: column;
    }
    #topic{
        font-size: 16px;
    }
    .info-icon{
        justify-self: start;
        height: 30px;
        width: 30px;
    }
    .info-right-text span{
        margin: 0;
        font-size: 18px;

    }
    .info-icon{
        padding: 0;
    }
    .creator-img{
        width: 50vw;
        height: auto;
    }

    #rita{
        width: 35vw;
    }
    #petr{
        width: 55vw;
    }
    .creator-block{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
    .creator-block:last-child{
        margin-bottom: 20px;
    }
    .invert{
        order:1;
    }
    .invert .creator-text{
        padding: 0;
    }
    .creator-text-holder{
        width: 100vw;    }
    .creator-text{
        font-size: 14px;
        padding: 0;
        margin:10px;
        margin-top: 20px;
    }
    .gallery-container{
        margin: 0 20px;
    }
    .gallery-container h1{
        font-size: 28px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .pc-gal{
        display: none;
      }
      .mob-gal{
        display: flex;
        flex-direction: column;
      }
      .column{
        width: 50%;
      }
      .feedback-container{
        margin: 0 10px;
        overflow-y: hidden;
      }
      .feedback-block{
        width: 70vw;
        margin:0;
        padding: 10px;
        margin:10px
      }
      .feedback-block span{
        font-size: 40px;
        top:5px
      }
      .feedback-header{
        margin-bottom: 12px;
      }
      .feedback-header h2{
        font-size: 20px;
        line-height: 1;
        margin:0
      }
      .feedback-header h3{
        font-size: 15px;
      }
      .feedback-text{
        font-size: 14px;
      }
      .feedback-btn{
        margin-top: 10px;
      }
      .feedback-btn a{
        padding: 9px;
        font-size: 14px;
        border-radius: 13px 13px;
      }
      .social-media{
        position: unset;
      }
      .contact{
        display: flex;
      }
      .contacts-container{
        margin: 0 20px;
        flex-direction: column;
    }
    .vk-group{
        height: 300px;
        margin-bottom: 30px;
    }
      .vk-group-holder{
        width: 100%;
    }
    .vk-group-text{
        font-size: 23px;
    }
  .vk-group-link .fa-2x{
    font-size: 5em;
  }
  .contact-group{
    height: 220px;
  }
}
