@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
.social a {
    text-align: center;
    width: 48px;
    height: 48px;
    padding: 6px;
    color: #fff;
    transition: 0.2s;
    padding-right: 30px;
}
.social-media{
    padding: 30px;
    display: flex;
    position: absolute;
}
:root{
    --first: #e76f51;
    --second: #f4a261;
    --third: #e9c46a;
    --fourth: #2cad9e;
    --fifth: #254a58;

}

.instagram a:hover {color: rgb(236, 77, 77);}
.facebook a:hover {color: rgb(236, 77, 77);}
.vk a:hover {color: rgb(236, 77, 77);}
.telegram a:hover {color: rgb(236, 77, 77);}
a{
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 12px;     
    height: 12px;          /* ширина scrollbar */
  }
::-webkit-scrollbar-track {
    background: transparent;        /* цвет дорожки */
  }
::-webkit-scrollbar-thumb {
    background-color:  rgb(54, 54, 54);  /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
  }
.element-animation{
    opacity: 0;
}
.element-animation.element-show{
    opacity: 1;
    transition: all 1s;
}

body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    font-size: 18px;
    color:#fff;
    background-color: rgb(0, 0, 0);
}
.header{
    display: flex;
    position: relative;
    justify-content:center;
    z-index:50;
    width: 100%;
}
.header-container{
    margin: 0 5%;
}
.main{
    overflow: hidden;
}


.p1{
    position: absolute; 
    bottom:40%; right:-13%; width: 380px; height: auto; 
    rotate: 30deg; z-index: 1;filter: hue-rotate(31deg);
    transform: translateY(800%);
    animation: p1 1.3s forwards;
    transition: 0.5s;
}
.p1:hover{
    width: 390px;

}
@keyframes p1 {
0% {transform: translateX(90%);}
100% {transform: translateY(0);}
}
.p2{
    position: absolute;
    bottom:-12%;
    left:-10%;
    width: 500px;
    height: auto;
    rotate: 30deg;
    z-index: 1;
    transform: translateY(-80%);
    animation: p2 1.3s forwards;
    transition: 0.5s;
    }
@keyframes p2 {
0% {transform: translateX(-90%);}
100% {transform: translateY(0);}
}
.p2:hover{
    width: 510px;
}
.p3{
    position: absolute;
    bottom:-2%;
    left:-50%;
    width: 310px;
    height: auto;
    rotate: 30deg;
    z-index: 1;
    transform: translateY(-80%);
    transition: 0.5s;
}
.p4{
    position: absolute;
    bottom:-32%;
    right:-30%;
    width: 300px;
    height: auto;
    rotate: 30deg;
    z-index: 1;
    transform: translateY(-80%);
    transition: 0.5s;

}
.main-container{
    position: relative;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: #000;
    height: 100vh;
}
.main-text{
    color:white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 100px;
    line-height: 0.9;
    z-index: 100;
}
.main-title{
    text-decoration-line:  underline;
    text-decoration-color: #ffdc6b;;
}
.main-title span{
    font-size: 128px;
}
.main-subtitle{
    text-decoration-color: transparent;
    font-size: 30px;
    font-weight: 500;
    line-height: 1;
    margin-top: 30px;
    line-height: 1.2;
    ;
}

.main-photo{
    height: 90vh; 
    width: auto;
    align-self: flex-end;
    transform: translateY(90%);
    animation: main-photo 1.3s forwards;
    z-index: 100;
}
@keyframes main-photo {
    0% {transform: translateY(90%);}
    100% {transform: translateY(0);}
}
.main-btn-holder{
    position: absolute;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 90%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
    z-index: 20;
}
.main-btn{
    position: relative;
    font-size: 120px;
    font-weight: 300;
    color: rgb(150, 150, 150);
    text-align: center;
    transform: rotate(90deg);
}

.main-btn-holder:hover{
    filter: brightness(0.86);
    
}
.info-container{
    display: flex;
    margin-bottom: 40px;
}
.info-left{
    color:#fff;
    width: 50vw;
}
.info-left-text{
    padding-left: 40%;
    padding-right: 10%;
}
.info-right{
    color:#000;
    background-color: #ffdc6b;
    width: 50vw;
}
.info-icon{
    width: 50px;
    height: 50px;
    padding-right: 20px;
}
.info-right-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
.info-right-text span{
    margin-left: 40px;
    font-size: 30px;
    font-weight: bold;
}
.info-right-row{
    display: flex;
    font-size: 22px;
    padding-left:50px;
}
.feedback-container{
    margin: 0 200px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    position: relative;

}
.feedback-block{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    background-color: rgb(54, 54, 54);
    color:rgb(255, 255, 255);
    width: 28vw;
    height: auto;
    margin: 20px 30px;
    flex: 0 0 auto;
    border-radius: 10px 10px;
}
.feedback-block span{
    color:#e9c46a;
    font-size: 50px;
    font-weight: 600;
    margin: 0 4px;
    line-height: 0;
    position: relative;
    top:7px;
}
.feedback-header{
    margin-bottom: 30px;
    text-align: center;
    width: 80%;
    border-bottom: 2px solid rgb(173, 173, 173);
}
.feedback-btn{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.feedback-btn a{
    color: #000;
    padding: 20px;
    background-color: #ffdc6b;
    transition: 0.3s;
    border-radius: 7px 7px;

}
.feedback-btn a:hover{
        filter: brightness(0.8);
}
.gaallery{
    overflow: hidden;
    position: relative;
}
.gallery-container{
    overflow: hidden;
    position: relative;
    margin: 0 250px;
}
.creator-block{
    display: flex;
    margin-bottom: 70px;
}
.creator-img{
    height: 400px;
    box-shadow: rgba(252, 252, 252, 0.4) 5px 5px, rgba(211, 211, 211, 0.3) 10px 10px, rgba(255, 255, 255, 0.2) 15px 15px, rgba(99, 99, 99, 0.1) 20px 20px, rgba(34, 34, 34, 0.05) 25px 25px;
}
.creator-text-holder{
    color:#fff;
    width: 50vw;
}
.creator-text{
    padding-left: 1%;
    padding-right: 49%;
} .creator-text b{
    font-size: 1.2em;
    text-decoration: #ffdc6b underline;
}
.creator-img-holder{
    width: 50vw;
    display: flex;
    justify-content: center;
}

.container{
    margin:0 200px
}
.image-gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .image-gallery .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .image-item img {
    width: 100%;
    border-radius: 5px;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;

  }
  .image-item img:hover{
    transform: scale(1.03);
  }
  
  @media only screen and (min-width: 768px) {
    .image-gallery {
      flex-direction: row;
    }
  }
