@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
.social a {
    text-align: center;
    width: 48px;
    height: 48px;
    padding: 6px;
    color: #fff;
    transition: 0.2s;
    padding-right: 30px;
}
.social-media{
    padding: 30px;
    display: flex;
    position: absolute;
}
:root{
    --first: #e76f51;
    --second: #f4a261;
    --third: #e9c46a;
    --fourth: #2cad9e;
    --fifth: #254a58;

}

.instagram a:hover {color: var(--first);}
.facebook a:hover {color: var(--first);}
.vk a:hover {color: var(--first);}
.telegram a:hover {color: var(--first);}
a{
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 12px;     
    height: 12px;          /* ширина scrollbar */
  }
::-webkit-scrollbar-track {
    background: transparent;        /* цвет дорожки */
  }
::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
  }
.element-animation{
    opacity: 0;
}
.element-animation.element-show{
    opacity: 1;
    transition: all 1s;
}
body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    font-size: 18px;
    color:#fff;
    background-color: rgb(0, 0, 0);
}
.header{
    display: flex;
    position: relative;
    justify-content:center;
    z-index:50;
    width: 100%;
}
.header-container{
    margin: 0 5%;
}
.main{
    overflow: hidden;
}


.p1{
    position: absolute; 
    bottom:40%; right:-13%; width: 380px; height: auto; 
    rotate: 30deg; z-index: 1;filter: hue-rotate(31deg);
    transform: translateY(800%);
    animation: p1 1.3s forwards;
    transition: 0.5s;
}
.p1:hover{
    width: 390px;

}
@keyframes p1 {
0% {transform: translateX(90%);}
100% {transform: translateY(0);}
}
.p2{
    position: absolute;
    bottom:-12%;
    left:-10%;
    width: 500px;
    height: auto;
    rotate: 30deg;
    z-index: 1;
    transform: translateY(-80%);
    animation: p2 1.3s forwards;
    transition: 0.5s;
    }
@keyframes p2 {
0% {transform: translateX(-90%);}
100% {transform: translateY(0);}
}
.p2:hover{
    width: 510px;
}
.main-container{
    position: relative;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: #000;
    height: 100vh;
}
.main-text{
    color:white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 100px;
    line-height: 0.9;
    z-index: 100;
}
.main-title{
    text-decoration-line:  underline;
    text-decoration-color: var(--first);
}
.main-title span{
    font-size: 128px;
}
.main-subtitle{
    text-decoration-color: transparent;
    font-size: 30px;
    font-weight: 500;
    line-height: 1;
    margin-top: 30px;
    line-height: 1.2;
    ;
}

.main-photo{
    height: 90vh; 
    width: auto;
    align-self: flex-end;
    transform: translateY(90%);
    animation: main-photo 1.3s forwards;
    z-index: 100;
}
@keyframes main-photo {
    0% {transform: translateY(90%);}
    100% {transform: translateY(0);}
}
.main-btn-holder{
    position: absolute;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 90%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
    z-index: 20;
}
.main-btn{
    position: relative;
    font-size: 120px;
    font-weight: 300;
    color: rgb(150, 150, 150);
    text-align: center;
    transform: rotate(90deg);
}

.main-btn-holder:hover{
    filter: brightness(0.86);
    
}
.info-container{
    display: flex;
    margin-bottom: 40px;
}
.info-left{
    color:#fff;
    width: 50vw;
}
.info-left-text{
    padding-left: 40%;
    padding-right: 10%;
}
.info-right{
    color:#000;
    background-color: #ffdc6b;
    width: 50vw;
}
.info-icon{
    width: 50px;
    height: 50px;
    padding-right: 20px;
}
.info-right-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
.info-right-text span{
    margin-left: 40px;
    font-size: 30px;
    font-weight: bold;
}
.info-right-row{
    display: flex;
    font-size: 22px;
    padding-left:50px;
}
.feedback-container{
    margin: 0 200px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    position: relative;

}
.feedback-block{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    background-color: #fff;
    color:#000;
    width: 28vw;
    height: auto;
    margin: 20px 30px;
    flex: 0 0 auto;
    border-radius: 10px 10px;
}
.feedback-block span{
    color:#e9c46a;
    font-size: 50px;
    font-weight: 600;
    margin: 0 4px;
    line-height: 0;
    position: relative;
    top:7px;
}
.feedback-header{
    margin-bottom: 30px;
    text-align: center;
    width: 80%;
    border-bottom: 2px solid rgb(173, 173, 173);
}
.feedback-btn{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.feedback-btn a{
    color: #000;
    padding: 20px;
    background-color: #ffdc6b;
    transition: 0.3s;
}
.feedback-btn a:hover{
        filter: brightness(0.8);
}
.gallery-container{
    margin: 0 250px
}
.creator-block{
    display: flex;
    margin-bottom: 70px;
}
.creator-img{
    height: 400px;
    box-shadow: rgba(252, 252, 252, 0.4) 5px 5px, rgba(211, 211, 211, 0.3) 10px 10px, rgba(255, 255, 255, 0.2) 15px 15px, rgba(99, 99, 99, 0.1) 20px 20px, rgba(34, 34, 34, 0.05) 25px 25px;
}
.creator-text-holder{
    color:#fff;
    width: 50vw;
}
.creator-text{
    padding-left: 1%;
    padding-right: 49%;
}
.creator-img-holder{
    width: 50vw;
    display: flex;
    justify-content: center;
}
.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 60;    
    display: none;
    opacity: 0;
    animation: fadeInFromNone 0.5s ease-in-out;
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
    backdrop-filter: blur(8px);
}
    
.overlay:target {
    opacity: 1;
    display: block;
    }

.popup{
    display: none;
    opacity: 0;
    position: fixed;
    z-index: 100;
    margin: auto auto;
    width: 75vw;
    height: 90vh;
    top: 50%;
    left: 53%;
    margin-top: -47vh; 
    margin-left: -44vw;
    padding: 8px 50px;
    background: #fefefe;
    border-radius:  9px 9px;
    overflow-y: scroll;
    animation: fadeInFromNone 0.5s ease-in-out;
    box-shadow: 0 0 10px 5px rgb(90, 90, 90);

}

.popup::-webkit-scrollbar-thumb {
    background-color: rgb(141, 141, 141);
    border: 4px solid transparent;
    border-radius: 10px;
    background-clip: padding-box;  
  }
  
.popup::-webkit-scrollbar {
    width: 17px;
  }
    
.overlay:target+.popup {
    display: block;
    opacity: 1;
}

@keyframes fadeInFromNone {
        0% {
          display: none;
          opacity: 0;
        }
      
        1% {
          display: block;
          opacity: 0;
        }
      
        100% {
          display: block;
          opacity: 1;
        }
}
.close {
    display: flex;
    font-size: 50px;
    font-weight: 200;
    color:white;
    width: 50px;
    height: 50px;
    position: fixed;
    padding: 0;
    border-radius: 50%;
    color: black;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    opacity: 0.6;
    transition: 0.3s;
    left: 85%;
    top: 5%;

} 
.close:after{
    content: "\00d7";
}
.close:hover {
    background-color: rgba(197, 197, 197, 0.8);
    backdrop-filter: blur(20px);

}
.otro-blockquote{
    font-size: 25px;
    width:60%;
    height: max-content;
    font-family:Open Sans;
    font-style:italic;
    color: #313131;
    padding:1.2em 30px 1.2em 75px;
    border-left:8px solid var(--first) ;
    line-height:1.6;
    position: relative;
    background:#EDEDED;
    z-index: 40;
    text-align: left;
    border-radius: 5px 5px;
  }
  
  .otro-blockquote::before{
    font-family:Arial;
    content: "\201C";
    color:var(--first);
    font-size:4em;
    position: absolute;
    left: 10px;
    top:-10px;
  }
  
  .otro-blockquote span{
    display:block;
    color:#333333;
    font-style: normal;
    font-weight: bold;
    margin-top:10px;
    text-align: left;
  }
  .kino-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.kino-holder{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kino-img-holder{
    position: relative;
    width: 50%; 
    height: 33vw;
}
img[class^="kino-img"]{
    position: relative;
    box-shadow: 0 0 10px 5px rgb(37, 37, 37, 0.2);
    border-radius: 4PX 4PX;
}
.kino-img-1{
    width: 10vw;
    height: auto;
    top:21vw;
    left:2vw;
    z-index: 30;
}
.kino-img-2{
    width: 10vw;
    height: auto;
    top:15vw;
    left:0vw;
    z-index: 20;
}
.kino-img-3{
    width: 17vw;
    height: auto; 
    top:-17vw;
    z-index: 10;
}
.kino-btn{
    bottom:10%;
    font-weight: 500;
    padding:15px;
    margin-bottom: 12px;
    width: fit-content;
    text-align: center;
    background:linear-gradient(45deg, var(--first) 10%,var(--second) 80%);
    border-radius: 30px 30px;
    color:white; 
    transition: 0.3s;
    cursor: pointer; 
}
.gallery{
    margin-top: 50px;
    margin-bottom: 50px;
}
.gallery-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.limiter {
  max-height: 520px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  transition: 0.3s;
}
.limiter .bottom {
  position: sticky;
  bottom: 0;
  background-image: linear-gradient(
    0deg,
    rgb(255, 255, 255), transparent);
  width: 100%;
  height: 60px;
  opacity: 1;
}
.read-more-checker {
  opacity: 0;
  position: absolute;
  

}
.read-more-checker:checked ~ .limiter {
  max-height: none;
  
}
.read-more-checker:checked ~ .limiter .bottom {
    height: 0;
  opacity: 0;
}
.read-more-checker ~ .read-more-button::before {
    content: "Развернуть ▼";
    
}
.read-more-checker:checked ~ .read-more-button:before {
  content: "Свернуть ▲";
  
}
.read-more-button:hover{
    filter: brightness(0.86);
}
.read-more-button {
    cursor: pointer;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 100px;
    background: linear-gradient(45deg, var(--first) 10%,var(--second) 80%);  
    width: max-content;
    padding:15px;
    border-radius: 40px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:  0px 10px 20px rgb(107, 107, 107);
    transition: 0.2s;
    }

.img-block{
    width: 300px;
    height: 200px;
    border-radius: 0%;
    justify-content:center start;
    object-fit: cover;
    transition: 0.3s;
    margin:10px 0;
    border-radius: 4px 4px;
}

.award-block{
    width: 270px;
    height: 370px;
    border-radius: 0%;
    justify-content:first baseline;
    transition: 0.3s;
    border-radius: 4px 4px;
}
.img-block a{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gall-header{
    min-width: 100%;
    min-height: 100%;
    width:100%;
    height: auto;
    transition: 0.3s;
}
.awards-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.gall-header:hover{
    cursor: url("http://i.webkub.com/loupa.cur");
    filter: brightness(0.8);
    transform: scale(1.05);

}

.img-popup{
    display: none;
    opacity: 0;
    position: fixed;
    left: 50%;
    top: 50%;
    height: auto;
    width: auto;
    max-height: 90vh;
    max-width: 90vw;
    border-radius: 1%;
    transform: translate(-50%, -50%);
    z-index: 100;
    animation: fadeInFromNone 0.5s ease-in-out;
    box-shadow: 0 0 10px 1px rgb(0, 0, 0б 0.3);
}

.overlay:target+.img-popup {
    display: block;
    opacity: 1;
}


.contacts{
    text-align: center;
    margin-bottom: 50px;
}

.contacts-text{
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.contacts-holder{    
    background: linear-gradient(45deg, var(--first),var(--second));  
    color: white;
    text-align: center;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    border-radius: 20px 20px;
}
.contact-left{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.contact-img{
    width: 50%;
    height: auto;
    border-bottom-right-radius: 1%;
    border-top-right-radius: 1%;
}
.contact{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.contact {
    text-decoration: none;
    color:#fefefe;
    font-size: 35px;
    margin-left: 20px;
    font-weight: bold;
    transition: 0.2s;
}
.contacts a:hover{
    color: rgb(255, 255, 255);
    filter: invert();
    opacity: 0.5;

}


.kinolift{
    border-radius: 20%;
    width: 45px;
    height: 45px;
    margin-top: auto;
    margin-bottom: auto;
}
.icon{
    width: 50px;
    height: 50px;
}


.footer{
    text-align: center;
    background-color: #444;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    padding: 10px;
}
.footer a{
    color: var(--first)
}
.social-media-footer{
    display: none;
    flex-direction: row;
    justify-content: space-around;
}

.burger{
    transition: 0.3s;
}
.burger span, .burger:after, .burger:before{
    height: 4px;
    width: 100%;
    position: absolute;
    background: #515758;
    margin: 0 auto;
    border-radius: 2px;
}
.burger span{
    top: 21px;
}
.burger:after, .burger:before{
    content: '';
}
.burger:after{
    bottom: 2px;
}
.burger:before{
    top: 13px;
}

.burger.open-menu span {
    opacity:0; 
    transition: 0.5s; 
}
.burger.open-menu:before {
    transform: rotate(38deg);
    top: 16px;
    transition: 0.4s;
}
.burger.open-menu:after {
    transform: rotate(-38deg);
    bottom: 16px;
    transition: 0.4s;
}
.none{
    display: none;
}
.burger {
    position: relative;
    width: 40px;
    height: 35px;
    display: block;
}

.container{
    margin:0 200px
}
.image-gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .image-gallery .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .image-item img {
    width: 100%;
    border-radius: 5px;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;

  }
  .image-item img:hover{
    transform: scale(1.03);
  }
  
  @media only screen and (min-width: 768px) {
    .image-gallery {
      flex-direction: row;
    }
  }
